@{
    ViewBag.Title = "Inicio";
}

<h1 class="text-center">Hospital veterinario Diego Villegas Toro</h1>
<img  style="margin:0 auto" src="~/Images/logo-universidad-de-caldas.png"  class="img-responsive"/>
